@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");
body {
  background-color: lavender;
}
.App {
  width: 80%;
  margin: auto;
  text-align: left;
  font-family: "Roboto", sans-serif;
}
div#root {
  font-weight: 500;
}
img#header-logo {
  float: left;
  height: 2rem;
  margin-right: 1rem;
}
.card-img,
.card-img-bottom,
.card-img-top {
  flex-shrink: 0;
  width: 40%;
  margin: auto;
  padding-bottom: 1em;
}
.card {
  min-width: 20%;
  margin: 1em;
}
#ex3 {
  max-width: 700px;
  margin: 20px auto;
  background-color: #333333;
  padding: 1%;
  color: white;
  box-sizing: border-box;
  font-family: sans-serif;
}
#isToDay {
  box-shadow: inset 0 0 0 1px darkgray;
}
.day_box,
.name_day,
.titleCalendar,
.buttonCalendar {
  width: calc(100% / 7);
  display: inline-block;
  vertical-align: top;
}
.titleCalendar {
  width: calc(100% / 7 * 5);
  font-size: 24px;
  text-align: center;
}
.buttonCalendar {
  background-color: black;
  text-align: center;
  color: white;
  border: none;
  font-size: 18px;
  padding: 0;
  cursor: pointer;
}
.name_day {
  overflow: hidden;
  font-size: 14px;
  padding: 1px;
  box-sizing: border-box;
  margin-top: 5px;
  text-align: center;
}
.day_box {
  text-align: left !important;
  font-size: 14px;
  background-image: linear-gradient(black, #222222);
  background-size: 97% 97%;
  background-position: center center;
  background-repeat: no-repeat;
}

.day_box > div {
  margin: 1px;
  padding: 5%;
  background-repeat: no-repeat;
  background-size: 25%;
  background-position: 95% 95%;
}
.day_box > div > span {
  position: absolute;
  color: white;
  font-size: 1em;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.day_box > div > div {
  padding: 5% 15%;
}
.container-fluid {
  padding: 0;
}
a {
  color: #e54fff;
}
a:hover {
  color: #e48df3;
}
.list-group-item-dark {
  color: #f8f9fa !important;
  background-color: #343a40;
}
/* nav {
  text-align: end;
}

li {
  display: inline-block;
  padding: 0.8rem;
}

a {
  text-decoration: none;
  font-weight: 600;
}
nav li a {
  color: #ffeb00;
  font-size: 1.3rem;
  text-shadow: 2px 2px #7e0000;
}
nav li a:hover {
  color: #ffeb00;
}
a:hover,
a:focus {
  text-decoration: underline;
}
input[type="submit"] {
  padding: 10px 15px;
  font-weight: 600;
  background: #7ed549;
  border-radius: 9px;
  border-color: #673ab7;
  letter-spacing: 0.025em;
  color: #000429;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
input[type="submit"]:active {
  background: #1cccfb;
} */
